<form class="form" action="" #testForm>
    <h2>Test form</h2>

    <div class="form-i">
        <p>e-mail</p>
        <input type="text" placeholder="e-mail" #mailField>
        <p class="error-text" *ngIf="mail_error">{{mail_error}}</p>
    </div>
    <div class="form-i">
        <p>password</p>
        <input type="password" placeholder="password" #passField>
        <p class="error-text" *ngIf="pass_eror">{{pass_eror}}</p>
    </div>
    <div class="form-i">
        <p>repeat password</p>
        <input type="password" placeholder="repeat password" #repassField>
        <p class="error-text" *ngIf="repas_error">{{repas_error}}</p>
    </div>
    <div class="form-i">
        <button type="submit" class="btn register-btn" [disabled]="!isButtonActive">Register</button>
    </div>
</form>