@import 'reset.scss';

.form {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 4px 4px 10px #464646;
    padding: 20px 20px 30px;
    margin: 0 auto;
    width: 400px;

    * {
        color: #424242;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    .form-i {
        height: 75px;
        margin-bottom: 15px;
        width: 100%;

        p {
            margin-bottom: 5px;

            &.error-text {
                color: #ef6161;
                font-size: 12px;
                padding-left: 3px;
            }
        }

        input {
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 17px;
            line-height: 18px;
            padding: 10px;
            width: 100%;

            &::placeholder {
                opacity: 0.4;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        .btn {
            border: none;
            border-radius: 8px;
            box-shadow: 2px 2px 0 #464646;
            font-size: 20px;
            padding: 10px;

            &.register-btn {
                background: #3f78ab;
                box-shadow: 3px 3px 7px 0 rgba(64,121,171,.5), inset 0 -3px 0 0 #326089;
                color: #fff;
                font-size: 24px;
                outline: none;
                padding: 15px;
                text-shadow: 0 -1px 0 rgba(0,0,0,.3);
                width: 100%;

                &:hover {
                    background: #2083dc;
                }

                &:active {
                    background: #3e77aa;
                    border: none;
                    color: #a6c2db;
                    margin: 2px 0 -2px;
                }

                &:disabled {
                    background: #979a9c;
                    box-shadow: 3px 3px 7px 0 rgba(203, 204, 206, 0.5), inset 0 -3px 0 0 #6f7173;

                    &:hover {
                        background: #979a9c;
                    }
                }
            }
        }
    }
}