<form class="form" action="">
    <h2>Test form</h2>

    <div class="form-i">
        <p>e-mail</p>
        <input type="text" placeholder="e-mail" (keyup)="clickCheck($event)" id="search-box">
    </div>
    <div class="form-i">
        <p>password</p>
        <input type="password" placeholder="password">
    </div>
    <div class="form-i">
        <p>repeat password</p>
        <input type="password" placeholder="repeat password">
    </div>
    <div class="form-i">
        <button class="btn register-btn">Register</button>
    </div>
</form>